/* In your global CSS file */
@import url('https://fonts.googleapis.com/css2?family=Clash+Display&family=Satoshi&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'Satoshi', sans-serif;  
  --font-heading: 'Clash Display', serif; 
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-primary); 
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading); 
}


p {
  font-family: var(--font-primary); 
}       

/* Keyframes for the ball animation */
@keyframes ballZoom {
  0% {
    transform: scale(1) translateZ(0px);
    opacity: 1;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);
  }
  50% {
    transform: scale(0.5) translateZ(-200px);
    opacity: 0.4;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.3);
  }
  100% {
    transform: scale(1) translateZ(0px);
    opacity: 1;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
  }
}

/* Tailwind utility */
@layer utilities {
  .animate-ball-zoom {
    animation: ballZoom 2s ease-in-out infinite;
  }
}
